<%= form_tag admin_students_import_file_path, multipart: true, method: :post do %>
  <div class="">
    <%= file_field_tag :file %>
  </div>
  <div class="">
    <%= submit_tag :import %>
  </div>
<% end %>
