.Box{
    $c: &;
    width: 100%;
    background-color: $background-white;

    &__small{
        max-width: 500px;
        padding: 30px;
    }

    &__radius{
        border-radius: $border-radius;
        > #{$c}__photo{
           border-radius: $border-radius $border-radius 0px 0px; 
        }
    }

    &__opacity{
        background-color: rgba($background-white, .85);
    }

    &__photo{
        width: 100%;
        height: 250px;
        object-fit: cover;
    }

    &__card{
        height: 380px;
        cursor: pointer;
    }
}

