.btn{
    width: 100%;
    border-radius: 0;

    &__primary{
        padding: .8rem;
        font-weight: bold;
        color: $color-white;
        background-color: $color-primary-dark;
        transition: all .5s ease-in;
        &:hover{
            background-color: $color-primary-base;
            color: $color-white;
        }
    }
}