<%= form_for lesson do |form| %>
  <div class="row align-items-center">
    <div class="col-9">
      <div class="form-floating">
        <%= form.text_field :name, class:"form-control", autofocus: true, autocomplete: "name", placeholder: "name@example.com" %>
        <label for="lesson_name">Назва заняття</label>
      </div>

    </div>
    <div class="col-3">
      <%= form.submit "Оновити", class: "btn btn__primary btn__auto"%>
    </div>
  </div>
<% end %>
