<tr>
  <td><%=index+1%></td>
  <td><%=student.name%></td>
  <td class="text-center"><%=student.lesson_works.average(:score)%></td>
  <%lessons.each do |lesson|%>
    <% if lesson.homework%>
      <td class="text-center">-</td>
    <%end%>
  <%end%>
</tr>
