<h1 class="text-center">NEWS</h1>
<div class="row">
  <%= render @posts %>
</div>

<div class="modal fade" id="newsModal" tabindex="-1" aria-labelledby="newsModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header align-items-center justify-content-center">
        <h5 class="modal-title modal__title text-center h6 mb-0" id="newsModalLabel">New message</h5>
      </div>
      <div class="modal-body">
        <p class="modal__text"></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрити</button>
      </div>
    </div>
  </div>
</div>